<% @user_posts.each do |post| %>
<%= post.description %>
<%= post.latitude %>
<%= post.longitude %>
<% if post.photo.attached? %>
  <%= cl_image_tag post.photo.key %>
  <% else %>
      <img src="https://source.unsplash.com/random" />
        </a>
<% end %>
<% end %>
