<% if @post.photo.attached? %>
        <div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @post.photo.key %>);">
          <div class="container">
            <h1 class="text-center"><%= @post.description %></h1>
          </div>
        </div>
<% else %>
      <div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
        <div class="container">
          <h1 class="text-center"><%= @post.description %></h1>
        </div>
      </div>
<% end %>
