<div class="container text-center pt-3">
        <h4 id="confirm-header">Your post has been submitted!</h4>


     </div>
        <div class="confirmation-card container">
          <div class="card-trip">
            <% if @post.photo.attached? %>
                <%= cl_image_tag @post.photo.key %>
            <% else %>
                <img src="https://source.unsplash.com/random" />
            <% end %>
            <div class="card-trip-infos">
              <div>

             <br>


              </div>

              <%= link_to 'My posts', user_posts_path, class: 'btn btn-primary btn'  %>

            </div>
          </div>
        </div>
