<div class="container text-center pt-3">
        <h4 id="confirm-header">Your post has been submitted!</h4>


     </div>
        <div class="confirmation-card container text-center">
          <div class="card-trip">
            <% if @post.photo.attached? %>
                <%= cl_image_tag @post.photo.key %>
            <% else %>
                <img src="https://images.unsplash.com/photo-1563668454696-170e01768e54?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xlYW4lMjBzdHJlZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" />
            <% end %>
            <div class="card-trip-infos">
              <div>

             <br>


              </div>

              <%= link_to 'My posts', user_posts_path, class: 'btn btn-primary btn'  %>

            </div>
          </div>
        </div>
