.fa-1x {
font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
cursor: pointer;
}

.dark-blue-text {
color: #EFEFEF;
}

.navbar {
  background: #0A4275;
}

.nav-link {
  color: #EFEFEF;
}

.navbar-light .navbar-brand {
    color: #EFEFEF;
}

.navbar-light .navbar-nav .nav-link {
    color: #EFEFEF;
}
